@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400&display=swap');
/* * tüm ogeleri secmeye yarar.*/
* {
  /*box-sizing elementin kutu genisliğine margin ve padding dahil oldugunu söyler.*/
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

